<?xml version="1.0"?>
<launch>
 <arg name="use_sim_time" default="true"/>
  <arg name="use_ros2_control" default="true"/>

  <!-- Process the URDF file using xacro and pass parameters -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find mobile_nav)/src/urdf/robot.urdf.xacro' use_ros2_control:=$(arg use_ros2_control) sim_mode:=$(arg use_sim_time)"/>

  <!-- Launch the robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="use_sim_time" value="$(arg use_sim_time)"/>
  </node>

    

</launch>